apiVersion: networking.istio.io/v1beta1
kind: ServiceEntry
metadata:
  name: postgres
  namespace: {{ .Release.Namespace }}
spec:
  hosts:
    - {{ .Values.externalServices.postgres.host }}
  ports:
    - number: {{ .Values.externalServices.postgres.port }}
      name: postgres
      protocol: TCP
  location: MESH_EXTERNAL
  resolution: DNS
