apiVersion: v1
kind: ConfigMap
metadata:
  name: muffin-wallet
data:
  application.yaml: |
    server:
      port: 8081

    spring:
      datasource:
        url: {{ .Values.config.datasourceUrl }}
        username: {{ .Values.config.datasourceUser }}

    currency:
      service:
        url: {{ .Values.config.currencyUrl }}

    management:
      endpoints:
        web:
          exposure:
            include: health, info
      endpoint:
        health:
          probes:
            enabled: true
          show-details: always